/*
* Gridlock v3.0.6 - 2014-03-27
* A responsive CSS grid system. Part of the Formstone Library.
* http://formstone.it/gridlock/
*
* Copyright 2014 Ben Plum; MIT Licensed
*/

/* !Reset Box-sizing */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

/* !Defaults */
.row { margin-left: auto; margin-right: auto; width: 300px; /* Default */ }
.row:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
.row .row { margin-left: -1.0416666666666667%; margin-right: -1.0416666666666667%; width: 102.0833333333333334%; }
.row .contained .row { margin-left: 0; margin-right: 0; width: 100%; }

/* !All Cells */
.row [class*="all-"],
.row [class*="xs-"],
.row [class*="sm-"],
.row [class*="md-"] { float: left; margin-left: 1.0416666666666667%; margin-right: 1.0416666666666667%; }

/* !Padded Cells */
.row [class*="all-"].padded,
.row [class*="xs-"].padded,
.row [class*="sm-"].padded,
.row [class*="md-"].padded { margin-left: 0; margin-right: 0; padding-left: 1.0416666666666667%; padding-right: 1.0416666666666667%; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; -ms-box-sizing: content-box; -o-box-sizing: content-box; box-sizing: content-box; *behavior: none; }

/* !Contained Cells */
.row [class*="all-"].contained,
.row [class*="xs-"].contained,
.row [class*="sm-"].contained,
.row [class*="md-"].contained { margin-left: 0; margin-right: 0; }

/* !Right Cells */
.row [class*="all-"].right,
.row [class*="xs-"].right,
.row [class*="sm-"].right,
.row [class*="md-"].right { float: right; }

.row [class*="xs-"].center,
.row [class*="min-"].center,
.row [class*="sm-"].center,
.row [class*="md-"].center,
.row [class*="lg-"].center { margin-left: auto; margin-right: auto; }

/* !Rows, Thinest to Widest  */
@media screen and (min-width: 500px) {
	.row { width: 480px; }
}
@media screen and (min-width: 740px) {
	.row { width: 720px; }
}
@media screen and (min-width: 980px) {
	.row { width: 960px; }
}
@media screen and (min-width: 1220px) {
	.row { width: 1200px; }
}

.grid-fluid .row { width: 98%; }

/* !xs, 540 (max 740) */
@media screen and (max-width: 740px) {
	/* Cells */
	.row .xs-1 { width: 31.25%; }
	.row .xs-2 { width: 64.5833333333333333%; }
	.row .xs-3 { width: 97.9166666666666667%; }

	/* Push */
	.row .xs-push-1 { margin-left: 34.375%; }
	.row .xs-push-2 { margin-left: 67.7083333333334%; }

	/* Contained */
	.row .contained.xs-1 { width: 33.3333333333333333%; }
	.row .contained.xs-2 { width: 66.6666666666666667%; }
	.row .contained.xs-3 { width: 100%; }

	/* Contained Push */
	.row .contained.push.xs-1 { margin-left: 33.3333333333333333%; }
	.row .contained.push.xs-2 { margin-left: 66.6666666666666667%; }
}
